:root{
    --width: 250px;
    --height: 140px;
    --light-grayish-purple: hsl(270, 3%, 87%);
    --dark-grayish-purple: hsl(276, 5%, 42%);
    --very-dark-purple: hsl(278, 68%, 11%);
}

@font-face {
    font-family: 'Grotesk';
    src: url(font/SpaceGrotesk-VariableFont_wght.ttf);
}

html, body{
    margin: 0;
    padding: 0;
    width:100%;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: center;
    background: url(../images/bg-main-mobile.png) no-repeat center;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 40px;
    height: var(--height);
}

.font-Grotesk{
    font-family: 'Grotesk';
}

#cartsContainer{
    color: white;
    max-width: 375px;
    height: min-content;
    display: flex;
    padding: 5px 5px;
    box-sizing: border-box;
    position: absolute;
        top: 50px;
    justify-content: center;
    flex-direction: column-reverse;
    font-size: small;
}

.carte{
    box-sizing: border-box;
    border-radius: 5px;
    width: var(--width);
    min-height: var(--height);
    max-height: var(--height);
    box-shadow: rgba(63, 63, 63, 0.329) 20px 20px 25px;
}

#cartPreview{
    z-index: 200;
    padding: 20px; 
    background: url(../images/bg-card-front.png) no-repeat center;
    background-size: cover;
    letter-spacing: 2.5px;    
    display: flex;
    align-self: center;
    align-items: center;
    transform: translate(-25px, -60px);
}

#cartPreview img{
    height: 35px;
}

#previewContent{
    width: 100%;
}

#id{
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 600;
}

#nameAndDateExp{
    margin-bottom: 0px;
    font-weight: 300;
    font-size: smaller;
}

#dateExp{
    float: right;
}

#cartBack{
    z-index: 100;
    align-self: center;
    position: relative;
        left: 30px;
}

#cartBack img{
    width: 100%;
    height: 100%;
}

#cvc{
    width: 81%;
    box-sizing: border-box;
    position: relative;
        bottom: 97px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
    font-size: small;
}



/* ---------SECTION-------- */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 80%;
    margin-top: 65px;
    padding: 30px 0 60px 0;
}

.form-control{
    margin-bottom: 20px;
    box-sizing: border-box;
}

.form-control label{
    text-transform: uppercase;
    font-family: 'Grotesk';
    font-weight: bold;
    color: var(--very-dark-purple)
}

.form-control .gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6px;
    padding: 2.8px;
    background-image: linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    border-radius: 7.5px;
}

.form-control input[type="text"], .form-control input[type="number"], .form-control input[type="month"]{
    border-color: transparent;
    outline: 1px solid lightslategray;
    outline-offset: 0;
    width: 100%;
    padding: 6px 6px 6px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 4px white;

    transition: box-shadow 0.4s linear;
}


.form-control input::placeholder{
    color: var(--dark-grayish-purple);
}

.form-control input:focus{
    outline: 1px none;
    box-shadow: 0 0 0 4px transparent;
}


#dateExpCvc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#monthAndYear .gradient{
    min-width: 72px;
    max-width: 80px;
}

#monthAndYear{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#dateExp{
    display: flex;
    flex-direction: row;
}


#confirm{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    color: var(--light-grayish-purple);
    background-color: var(--very-dark-purple);
}

@media (max-width: 315px){
    #cartsContainer{
        width: 100%;
    }
    #cartPreview, #cartBack{
        position: static;
        transform: translate(0);
    }
    section form{
        width: 90%;
    }
}