:root {
    --width: 270px;
    --height: 150px;
    --light-grayish-purple: hsl(0, 0%, 69%);
    --dark-grayish-purple: hsl(276, 5%, 42%);
    --very-dark-purple: hsl(278, 68%, 11%);

    --transform-Y-back: -168px;
    --transform-Y-front: 65px;
    --transform-X-back: 25px;

    --lateral-transition-duration: 200ms;
    --vertical-transition-duration: 300ms;
}

@font-face {
    font-family: 'Grotesk';
    src: url(font/SpaceGrotesk-VariableFont_wght.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    background: url(../images/bg-main-mobile.png) no-repeat center;
    background-size: cover;
    padding: 50px 10px 40px 10px;
    height: calc(var(--height) - 30px);
    position: relative;
    z-index: 30px;
}

.font-Grotesk {
    font-family: 'Grotesk';
}

#cartsContainer {
    color: white;
    max-width: 375px;
    display: flex;
    padding: 5px 5px;
    position: absolute;
    top: 30px;
    justify-content: center;
    flex-direction: column;
    font-size: small;
    z-index: 20;
}

.carte {
    box-sizing: border-box;
    border-radius: 10px;
    width: var(--width);
    min-height: var(--height);
    max-height: var(--height);
    box-shadow: 20px 20px 25px 0px rgba(46, 46, 46, 0.315);
    transition: left var(--lateral-transition-duration) ease-in-out, top var(--vertical-transition-duration) ease-in-out;
}

#cartPreview {
    z-index: 20;
    background: url(../images/bg-card-front.png) no-repeat center;
    background-size: cover;
    letter-spacing: 2.5px;
    display: flex;
    align-self: center;
    position: relative;
        top: var(--transform-Y-front);
        left: calc(-1 * var(--transform-X-back));
}

#cartPreview img {
    height: 35px;
}

#previewContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

#previewContent #id {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

#previewContent #nameAndDateExp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: smaller;
}

#previewContent #dateExpShow {
    align-self: center;
}

#cartBack {
    z-index: 19;
    align-self: center;
    position: relative;
        top: var(--transform-Y-back);
        left: var(--transform-X-back);
}

#cartBack img {
    width: 100%;
    height: 100%;
}

#cvc {
    width: 81%;
    box-sizing: border-box;
    position: relative;
    bottom: calc(var(--height) / 2 + 24px);
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
    font-size: smaller;
}

#cartsContainer.moveLaterally #cartPreview{
    left: calc(var(--transform-X-back) - (var(--width) / 2));
}
#cartsContainer.moveLaterally #cartBack{
    left: calc(var(--transform-X-back) + (var(--width) / 2));
}
#cartsContainer.moveVertically #cartPreview{
    top: calc(var(--height) + var(--transform-Y-back));
}
#cartsContainer.moveVertically #cartBack{
    top: calc(-1 * (var(--height)) + var(--transform-Y-front));
}
#cartsContainer.revertCards #cartPreview{
    z-index: 19;
    left: var(--transform-X-back);
}
#cartsContainer.revertCards #cartBack{
    z-index: 20;
    left: calc(-1 * var(--transform-X-back));
}

/* ---------SECTION-------- */
section {
    position: relative !important;
    z-index: 30;
    padding-top: 100px;
    width: 86vw;
    max-width: 380px;
    height: calc(100vh - (var(--height) + 80px + 100px));
    min-height: calc((var(--height) + 80px + 100px));
    margin: auto;
    overflow-x: hidden;
}

#formAndMsg {
    width: 90%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
}

#formAndMsg.showMessage form{
    transform: translateX(-100vw);
}

#formAndMsg.showMessage #success-msg{
    transform: translateX(0);
    display: flex;
}

#formAndMsg #success-msg{
    transition: transform 0.5s ease-in-out;
    transform: translateX(100vw);
    position: absolute;
}

form, #success-msg{
    flex-direction: column;
}

form {
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

.form-control {
    margin-bottom: 14px;
    width: 100%;
}

.form-control label {
    margin-left: 3px;
    text-transform: uppercase;
    font-family: 'Grotesk';
    font-weight: bold;
    color: var(--very-dark-purple)
}

.form-control .gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2px 2px 0 0;
    padding: 2px;
    background-image: linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-image: -o-linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-image: -moz-linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-image: -webkit-linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    border-radius: 7px;
    box-sizing: border-box;
}

.form-control input[type="text"],
.form-control input[type="number"],
.form-control input[type="month"] {
    color: var(--very-dark-purple);
    border-color: transparent;
    outline: 1px solid lightslategray;
    outline-offset: 0;
    width: 100%;
    padding: 6px 6px 6px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 3px white;

    transition: box-shadow 0.3s linear;
}


.form-control input::placeholder {
    color: var(--dark-grayish-purple);
}

.form-control input:focus {
    outline: 1px none;
    box-shadow: 0 0 0 3px transparent;
}


#dateExpCvc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#monthAndYear .gradient {
    max-width: 90px;
}

#monthAndYear .gradient,
#hafa .gradient {
    min-width: 82px;
}

#monthAndYear {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-right: 5px;
    box-sizing: border-box;
}

#dateExp {
    display: flex;
    flex-direction: row;
}


.confirm {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: var(--very-dark-purple);
    transition: background 0.5s ease-in, transform 0.3s ease-in-out;
}

.confirm:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-image: linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-image: -o-linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-image: -moz-linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-image: -webkit-linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

.confirm:active {
    transform: scale(0.95);
}

#success-msg {
    width: 100%;
    margin-bottom: 60px;
}

#success-msg>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#success-msg img {
    margin: auto;
    width: 80px;
    height: 80px;
}

#success-msg p {
    margin: 35px auto;
}

#success-msg #thanks {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--very-dark-purple);
    margin-bottom: 10px;
}

#success-msg #msg {
    font-size: 14px;
    font-weight: 600;
    color: var(--light-grayish-purple);
}

.attribution {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 315px) {
    #cartsContainer {
        width: 100%;
        box-sizing: border-box;
    }

    #cartPreview, #cartBack{
        position: absolute;
        /* left: 50%; */
        transform: translateX(-50%);
    }

    #cartPreview{
        top: -10px;
        left: 47%;
    }
    #cartBack{
        left: 53%;
        top: 10px;
    }

    #cartsContainer.moveLaterally #cartPreview{
        left: calc(- var(--width));
    }
    #cartsContainer.moveLaterally #cartBack{
        left: calc(var(--width));
    }
    #cartsContainer.moveVertically #cartPreview{
        top: 10px;
    }
    #cartsContainer.moveVertically #cartBack{
        top: -10px;
    }
    #cartsContainer.revertCards #cartPreview{
        z-index: 19;
        left: 53%;
    }
    #cartsContainer.revertCards #cartBack{
        z-index: 20;
        left: 47%;
    }

    section {
        width: 90%;
        padding-top: 50px;
    }

    #dateExpCvc {
        flex-direction: column;
    }

    #monthAndYear {
        padding: 0;
    }

    #dateExp {
        justify-content: space-between;
    }

    #dateExp>* {
        width: 48%;
        max-width: 48% !important;
    }
}

@media(min-width: 600px) {
    :root {
        --width: 300px;
        --height: 183px;
    }

    #content {
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    header {
        height: 100vh;
        width: 40vw;
        padding: 0;
        max-width: calc(var(--width) * 0.9);
        background: url(../images/bg-main-desktop.png) no-repeat center;
        background-size: cover;
    }

    .carte {
        border-radius: 8px;
    }

    #cartsContainer {
        top: 50%;
        width: var(--width);
        max-width: var(--width) !important;
        transform: translate(15%, -50%);
    }

    #cartPreview {
        order: 0;
        position: relative;
        top: 0;
        left: calc(-1 * var(--transform-X-back));
    }

    #cartPreview img {
        height: 40px;
    }

    #cartPreview #id {
        font-size: 18px;
        margin-top: 40px;
    }

    #cartPreview #nameAndDateExp {
        font-size: 14px;
    }

    #cartBack {
        order: 1;
        position: relative; 
        top: 0;
        left: var(--transform-X-back);
    }

    section {
        width: 55vw;
        height: 100vh;
        padding: 0;
        position: relative;
        margin: auto;
        transform: translateX(calc(15% - 1vw));
    }

    #formAndMsg {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(min-width: 1000px) {
    :root {
        --width: 420px;
        --height: 225px;
    }

    header {
        width: 35vw;
        max-width: 650px;
    }

    #cartsContainer {
        transform: translate(0, -50%);
    }

    .carte {
        width: var(--width);
    }

    #cartPreview {
        padding: 4px 10px;
        transform: translate(20%, -10px);
        overflow: auto;
    }

    #cartPreview img {
        height: 45px;
    }

    #cartPreview #id {
        font-size: 24px;
        margin: 45px auto 20px auto;
    }

    #cartBack {
        transform: translate(35%, 10px);
    }

    section {
        transform: translateX(calc(18% - 2vw));
    }

    #formAndMsg {
        width: 90%;
        max-width: 360px;
    }
}